h1{
  border: 4px solid blue;
  border-radius: 25px;
  text-align: center;
  padding: 4px;
}
.welcome{
  text-align: center;
  background-color: #def45d;
}
body{
  background-color: #059862
}
img{
  width: 20%;
  filter: grayscale(100%);
}
img:hover{
  filter: grayscale(0%);
}
.paintings{
  border: 2px solid brown;
  margin: 30px;
}
#description{
  background-color: blue;
  position: relative;
  left: 50px;
  top: 50px;
  width: 600px;
  height: 200px;
}
#descriptionText{
  padding-top: 50px;
}
.copyright{
  position: absolute;
  bottom: 5px;
  background-color: yellow;
  width: 150px;
  
;
}
.shop{
  background-color: red;
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.titles > p{
  float: left;
  padding-right: 120px;

}
.titles{
  position: relative;
  left: 60px;
  display: none;
}
.paintings:hover .titles{
  display: block;
}
