ul{
  list-style-type: none;
  background-color: darkgrey;
  overflow: hidden;
}
a{
  padding: 20px;
  text-decoration: none;
  color: white;
  display: block;
}
li{
  float: left;
}
a:hover{
  background-color: black;
}
body{
  background-color: lightgrey;

}
